<div class="jumbotron">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Created</th>
        <th>Modified</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="script in myscripts | orderBy: 'name'">
        <td>{{$index + 1}}</td>
        <td><a href="" ng-click="loadPlayground(script.id)">{{script.name}}</a></td>
        <td>{{script.created | date:'medium'}}</td>
        <td>{{script.modified | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>
